*.yuv
*.ipch
*.db
*.pdb
*.exe
*.ilk
*.pnm
*.NEF
*.jpg
bin/Debug/*.dll
bin/Release/*.dll
build/.vs
build/x64
build/CMakeFiles
build/Debug
build/Release
build/isp_emulation.dir
build/Makefile
build/*.dng
build/*.DNG
build/*.raw
*.obj
*.tlog
*.iobj
*.log
*.vcxproj
*.filters
*.user
*.sln
build/CMakeCache.txt
build/cmake_install.cmake
build/.cmake
build/compile_commands.json